html,
body {
	width: 100%;
	height: 100%;
}

.background {
	background: rgb(54, 58, 241);
	background-image: linear-gradient(
		45deg,
		hsl(215deg 65% 53%) 0%,
		hsl(211deg 64% 49%) 21%,
		hsl(208deg 69% 45%) 30%,
		hsl(205deg 72% 41%) 39%,
		hsl(204deg 71% 39%) 46%,
		hsl(203deg 65% 38%) 54%,
		hsl(202deg 58% 37%) 61%,
		hsl(201deg 50% 36%) 69%,
		hsl(201deg 41% 35%) 79%,
		hsl(200deg 33% 34%) 100%
	);
}

::-webkit-scrollbar {
	width: 3px;
	opacity: 0.3;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(60, 60, 60, 0.6);
	border-radius: 5px;
	padding: 1px;
}
